model_converter/converted_models
model_converter/extracted_models
extractor_compressor/ze1_data
extractor_compressor/ze2_data_en_us
extractor_compressor/ze2_data_jp
extractor_compressor/ze1_data.bin
extractor_compressor/ze2_data_en_us.bin
extractor_compressor/ze2_data_jp.bin
**/__pycache__